@tailwind base;
@tailwind components;
@tailwind utilities;


  @import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=Lato:ital@1&family=Montserrat:wght@200;400;600;700&display=swap');
  
  body {
    font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Fira Code', monospace;
  }